@using WorkManagement.Domain.Models.Email
@model EmployeeSalaryUpdateEmailModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Salary Update Notification- Salary Status: @Model.ApprovalStatus</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        .container {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;
            border: 1px solid #ccc;
        }

        .header {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
        }

        .content {
            padding: 20px;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            font-size: 0.9em;
            color: #555;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Salary Update Notification</h1>
        </div>
        <div class="content">
            <p>Dear @Model.EmployeeName,</p>
            <p>We wanted to inform you that your salary update request, submitted on @Model.UpdatedDate, is currently pending approval with your manager @Model.ManagerName and HR Head @Model.HRManagerName</p>

            <p>If you have any questions, please contact your manager, @Model.ManagerName, for further assistance.</p>
            <p>Thank you for your patience.</p>
        </div>
        <div class="footer">
            <p>Best regards,</p>
            <p>HR Department</p>
        </div>
    </div>
</body>
</html>