@using WorkManagement.Domain.Models.Email
@model EmployeeLeaveRequestEmailModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Leave Update Notification for Employee: @Model.EmployeeName</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        .container {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;
            border: 1px solid #ccc;
        }

        .header {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
        }

        .content {
            padding: 20px;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            font-size: 0.9em;
            color: #555;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>
                Pending Leave Update Request for @Model.EmployeeName
            </h1>
        </div>
        <div class="content">
            <p>Dear @Model.ManagerName</p>
            <p>This is to inform you that there is a pending Leave update request from @Model.EmployeeName , submitted on @Model.UpdatedDate .</p>

            <p>Please Check your Leave Upadte Request for More Details</p>

            <p>Thank you for your patience.</p>
        </div>
        <div class="footer">
            <p>Best regards,</p>
            <p>HR Department</p>
        </div>
    </div>
</body>
</html>